<!-- =======================
Call To Action START -->
<section class="bg-primary py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-md-flex justify-content-center align-items-center">
					<span class="font-alt fw-normal text-white display-8">Inquiry —</span>
					<h4 class="mb-3 mb-md-0 text-white mx-md-4">Have questions or project? </h4>
					<a href="/contact/" class="btn btn-outline-white btn-sm mb-0">Contact us</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Call To Action END -->