{{ with .Site.Data.homeHero }}
{{ if .enable }}

<!-- =======================
Hero section START -->
<section class="bg-dark py-7 py-md-9 overflow-hidden position-relative" style="background-image:url(/images/bg/07.jpg); background-position: center center; background-size: cover;">
	<div class="d-flex position-absolute top-0 bottom-0 w-100 h-100">
		<div class="w-50 h-100 bg-dark-overlay-3"></div>
		<div class="w-50 h-100 bg-primary-multiply"></div>
	</div>
	<div class="container position-relative z-index-9">
		<div class="row">
			<div class="col-lg-8">
				<h1 class="text-uppercase text-white display-2 lh-1"><span class="text-white-stroke">Way more</span> than websites.</h1>
				<p class="display-8 fw-normal text-white">We build digital content platforms, design systems, and apps for ambitious organizations.</p>
				<a href="#" class="btn btn-lg btn-primary mt-5">Learn how we do it</a>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Hero section END -->


{{ end }}
{{ end }}