{{ with .Site.Data.homeInsights }}
{{ if .enable }}
<section>
     <div class="container">
          <div class="row">
               <div class="col-12 text-center">
                    <span class="font-alt fw-normal display-8">{{ .topTitle }}</span>
                    <h2 class="display-8 m-0">{{ .title | markdownify }}</h2>
                    <a class="btn btn-light btn-small mt-4" href="{{ .buttonTarget | absURL }}">View all insights</a>
               </div>
          </div>
          <div class="row mt-5">
			<!-- Card item image START -->
			<div class="col-lg-8 mx-auto">
                    {{ range first 3 (where $.Site.RegularPages "Section" "insights") }}
				{{ partial "blog/card.html" .}}
                    {{ end }}
			</div>


          </div>
          <div class="row">
               <div class="col-lg-12 text-center">
                    <a class="btn btn-light btn-small mt-4" href="{{ .buttonTarget | absURL }}">View all insights</a>
               </div>
          </div>
     </div>
</section>

{{ end }}
{{ end }}