<!-- =======================
Work Process START -->
<section class="bg-light pattern-overlay-7 pb-2">
	<div class="container">
		<div class="row">
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">01</h2>
				  <div>
				    <h4>Research and analytics</h4>
						<p>We start with Research also to image Seas Void Great day sea don't creature</p>
				  </div>
				</div>
			</div>
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">02</h2>
				  <div>
				    <h4>Design and Develop</h4>
						<p>In this step  our Them Subdue you life created day given light gathering</p>
				  </div>
				</div>
			</div>
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">03</h2>
				  <div>
				    <h4>Testing and Launch</h4>
						<p>Final step of success firmament of also it great have set behold land third </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Work Process END -->