<nav aria-label="breadcrumb" class="d-flex justify-content-start">
  <ol class="breadcrumb align-items-center">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    {{ template "breadcrumb" dict "currentPage" .Page "perma" .Permalink }}
  </ol>
</nav>

<!-- templates -->
{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
  {{ if ne .currentPage.Parent .IsHome }}
    {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
  {{ end }}
    {{ if eq .perma .currentPage.Permalink }}
  <li class="breadcrumb-item active">{{ .currentPage.Title }}</li>
    {{ else }}
    <li class="breadcrumb-item " aria-current="page"><a href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a></li>
    {{ end }}
{{ end }}
{{ end }}