<meta charset="utf-8">
<title>{{with .Title}}{{.}} | {{site.Title}}{{else}}{{site.Title}}{{.Title}}{{end}}</title>

<meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">

{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}

      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

      <!-- Plugins CSS -->
      <link rel="stylesheet" type="text/css" href="{{ "../../vendor/font-awesome/css/all.min.css" | absURL }}">
      <link rel="stylesheet" type="text/css" href="{{ "../../vendor/bootstrap-icons/bootstrap-icons.css" | absURL }}">
      <link rel="stylesheet" type="text/css" href="{{ "../../vendor/animate/animate.min.css" | absURL }}">

      
     {{ "<!-- Stylesheets -->" | safeHTML }}
     {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
     <link href="{{ $style.Permalink }}" rel="stylesheet" />
   
     {{ "<!--Favicon-->" | safeHTML }}
     <link rel="icon" href="{{ "images/favicon.svg" | absURL }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
