{{ define "main" }}

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-lg-between">
			<!-- Inner intro title -->
			<div class="col-xl-8">
				<h1 class="display-4 text-primary">We're here to transform things.</h1>
				<p class="lead">Agency that cares <a href="#" class="text-dark"><u>about customers</u></a>. We deliver unique and measurable campaigns that connect with target audiences and encourage your business growth. We have built a <a href="#" class="text-dark"><u>robust team</u></a> which is capable of delivering <a href="#" class="text-dark"><u>best quality of services</u></a> when it comes to website design, Website development.</p>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Inner intro END -->


<!-- =======================
About START -->
<section class="p-0">
	<div class="container-fluid p-0">
		<div class="row g-0">
			<div class="col-md-10 position-relative">
				<img class="w-100" src="/images/banner/02.jpg" alt="About image">
				<div class="position-absolute bottom-0 end-0 p-4 m-4 bg-white" >
					<h3><i class="bi bi-person-plus"></i> Early career</h3>
					<a class="text-dark" href="#"><u>Take your first step to a career with us</u></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->


{{ end }}