<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">

	<head>
		{{ partial "head.html" . }}
		{{ partialCached "style.html" . }}
		<base href="{{ .Site.BaseURL }}">
	</head>

	<body>
		{{ if or (.Params.headerDark) (.IsHome) }}
			{{ partial "navbar-transparent.html" . }}
	   	{{ else }}
			{{ partial "navbar.html" . }}
		{{ end }}
		<main>
			{{ block "main" . }}{{ end }}
		</main>
		{{ partial "footer.html" . }}
		<!-- {{ partialCached "script.html" . }} -->
	</body>

</html>
