{{ define "main" }}

{{ partial "page-title.html" .}}
<section class="p-0">
    <div class="container">
        <!-- Post meta -->
        <nav aria-label="breadcrumb" class="d-flex justify-content-start">
            <ol class="breadcrumb align-items-center">
              <li class="breadcrumb-item">{{ .PublishDate.Format "January 2, 2006" }}</li>
              <li class="breadcrumb-item">{{ math.Round (div (countwords .Content) 220.0) }} min read</li> 
            </ol>			    
        </nav>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="singleBlog__feature">
                    <img src={{ .Params.postImage | absURL }} alt="feature-image">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="singleBlog__content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}